
<!-- name of hbs obj that we created in the / route-->
{{#if saved}}
    <div class="row">
      <div class="col-12">
        <div class="card">
           <h3 class="card-title" id="title">{{title}}</h3>
          <a href="{{link}}" id="link">{{link}}</a>
    <button type="button" class="article_comments btn btn-outline-primary" data-id="{{_id}}">Add Comment</button>
    <button type="button" class="removeArticle btn btn-outline-primary" data-id="{{_id}}">Remove</button></div>
    </div>
    </div>
    </div>
{{else}}
{{!-- Display Save Option: --}}
    <div class="col-sm-12 col-md-6 text-right"><button type="button" class="saveBtn" data-id="{{_id}}">Save</button></div>
{{/if}}
